In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [14]:
encode = le.fit(["hi","how","are","you"])

In [15]:
encode.transform(["hi"])

array([1], dtype=int64)

In [16]:
encode.inverse_transform([1])

array(['hi'], dtype='<U3')

In [ ]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

# Encoding the variable
df_num = df.apply(lambda x: d[x.name].fit_transform(x))

# Inverse the encoded
df_original = df_num.apply(lambda x: d[x.name].inverse_transform(x))

# Using the dictionary to label future data
df_new_num = df_new.apply(lambda x: d[x.name].transform(x))

In [24]:
import pandas as pd

from sklearn import datasets
from sklearn import linear_model
import numpy as np
import os

In [26]:
os.chdir('c://users//administrator//desktop')

In [27]:
data = pd.read_csv('weather_data.csv')

In [28]:
data

     Outlook Temperature Humidity    Wind Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Cool   Normal    Weak  Yes
4       Rain        Cool   Normal  Strong   No
5      Sunny        Mild     High    Weak   No
6      Sunny        Cool   Normal    Weak  Yes
7       Rain        Mild   Normal    Weak  Yes
8      Sunny        Mild   Normal  Strong  Yes
9   Overcast        Mild     High  Strong  Yes
10  Overcast         Hot   Normal    Weak  Yes
11      Rain        Mild     High  Strong   No
12  Overcast        Cool   Normal  Strong  Yes
13      Rain        Mild     High    Weak  Yes

In [29]:
from collections import defaultdict
d = defaultdict(LabelEncoder)

In [33]:
# Encoding the variable
data_num = data.apply(lambda x: d[x.name].fit_transform(x))

In [34]:
data_num

    Outlook  Temperature  Humidity  Wind  Play
0         2            1         0     1     0
1         2            1         0     0     0
2         0            1         0     1     1
3         1            0         1     1     1
4         1            0         1     0     0
5         2            2         0     1     0
6         2            0         1     1     1
7         1            2         1     1     1
8         2            2         1     0     1
9         0            2         0     0     1
10        0            1         1     1     1
11        1            2         0     0     0
12        0            0         1     0     1
13        1            2         0     1     1

In [35]:
# Inverse the encoded
data_or = data_num.apply(lambda x: d[x.name].inverse_transform(x))

In [36]:
data_or

     Outlook Temperature Humidity    Wind Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Cool   Normal    Weak  Yes
4       Rain        Cool   Normal  Strong   No
5      Sunny        Mild     High    Weak   No
6      Sunny        Cool   Normal    Weak  Yes
7       Rain        Mild   Normal    Weak  Yes
8      Sunny        Mild   Normal  Strong  Yes
9   Overcast        Mild     High  Strong  Yes
10  Overcast         Hot   Normal    Weak  Yes
11      Rain        Mild     High  Strong   No
12  Overcast        Cool   Normal  Strong  Yes
13      Rain        Mild     High    Weak  Yes

In [41]:
data_new = data.iloc[5:9,:]

In [42]:
data_new

  Outlook Temperature Humidity    Wind Play
5   Sunny        Mild     High    Weak   No
6   Sunny        Cool   Normal    Weak  Yes
7    Rain        Mild   Normal    Weak  Yes
8   Sunny        Mild   Normal  Strong  Yes

In [43]:
# Using the dictionary to label future data
df_new_num = data_new.apply(lambda x: d[x.name].transform(x))

In [44]:
df_new_num

   Outlook  Temperature  Humidity  Wind  Play
5        2            2         0     1     0
6        2            0         1     1     1
7        1            2         1     1     1
8        2            2         1     0     1